 {% extends 'frontend/layouts/base.html' %} 
  {% block content %} 
  {% load static %}
  {% load humanize %}
  {% load widget_tweaks %}
  {% include 'frontend/layouts/header_ad.html' %} 

  <!-- HeadLine Container -->
  <div class="headline-container">
      <!-- HeadLines -->
      <div class="headline"></div>
      <h4 class="headline-title">
        <span class="headline-title">Change Your Password</span>
      </h4>
      <div class="right-bar" id="user-nav-mobile">
        <span class="fas fa-bars "></span>
      </div>
    </div>
    <!-- HeadLine Container Ends -->
    {% include "registration/welcome_menu.html" %}

    <div class="user-dashboard-container">
        <!-- User Navigation -->
       {% include "registration/user-nav.html" %}
        <!-- Single User Page -->
        <div class="user-detail-container">

            <div class="user-details">
                <form method="POST">
                    {% csrf_token %}
                                
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="alert alert-danger">{{ error|escape }}</p>
                    {% endfor %}
                    <div class="form-group">
                        {{ field.label_tag }}
                         {{ field|add_class:"form-control" }}
                    </div>
                    {% endfor %}
                  
                      <div class="form-group">
                          <input type="submit" value="Change My Password" class="btn btn-dark mbtn">
                      </div>
                  </form>
            </div>
        </div>
    </div>
   
    {% endblock %}