{% extends 'frontend/layouts/base.html' %} 
{% block content %} 
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% include 'frontend/layouts/header_ad.html' %} 

<!-- HeadLine Container -->
<div class="headline-container">
    <!-- HeadLines -->
    <div class="headline"></div>
    <h4 class="headline-title">
      <span class="headline-title">Add Live Events</span>
    </h4>
    <div class="right-bar" id="user-nav-mobile">
        <span class="fas fa-bars "></span>
      </div>
  </div>
  <!-- HeadLine Container Ends -->
  {% include "registration/welcome_menu.html" %}

  <div class="user-dashboard-container">
      <!-- User Navigation -->
     {% include "registration/user-nav.html" %}
      <!-- Single User Page -->
      <div class="user-detail-container">

          <div class="user-details">
              <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}

                  {% if messages %}
                  {% for message in messages %}
                    {% if message.tags == 'warning' %} 
                      <p class="alert alert-danger">{{ message }}</p>
                      {% elif message.tags == 'success' %}
                      <p class="alert alert-success">{{ message }}</p>
                    {% endif %}
                  {% endfor %}
                  {% endif %}
                              
                  {% for field in form %}
                      {% for error in field.errors %}
                          <p class="alert alert-danger">{{ error|escape }}</p>
                      {% endfor %}
                  {% endfor %}

                  {{ form.user|attr:"hidden" }}
                  <div class="form-group">
                      <label for="title">Title: </label>
                      {{ form.title|add_class:"form-control"|attr:"placeholder:Short title of the video" }}
                  </div>
                  <div class="form-group">
                      <label for="description">Description: </label>
                      {{ form.description|add_class:"form-control"|attr:"placeholder:Short Description of the video" }}
                  </div>
                  
                  <div class="form-group">
                      <label for="video-file">Video File: </label>
                      {{ form.video|add_class:"form-control" }}
                  </div>
                  
                
                    <div class="form-group">
                        <input type="submit" value="Upload" class="btn btn-dark mbtn">
                    </div>
                </form>
          </div>
      </div>
  </div>
 
  {% endblock %}