{% extends 'frontend/layouts/base.html' %} 
{% block content %} 
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% include 'frontend/layouts/header_ad.html' %} 

<!-- HeadLine Container -->
<div class="headline-container">
    <!-- HeadLines -->
    <div class="headline"></div>
    <h4 class="headline-title">
      <span class="headline-title">Reset Your Password</span>
    </h4>
  </div>
  <!-- HeadLine Container Ends -->

  <div class="login-container">
              <p>
                Your password has been set. You may go ahead and <a href="{% url 'login' %}">login in</a> now.
              </p>
  </div>
  {% endblock %}