{% extends 'frontend/layouts/base.html' %} 
{% block content %} 
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% include 'frontend/layouts/header_ad.html' %} 

<!-- HeadLine Container -->
<div class="headline-container">
    <!-- HeadLines -->
    <div class="headline"></div>
    <h4 class="headline-title">
      <span class="headline-title">Update Event</span>
    </h4>
    <div class="right-bar" id="user-nav-mobile">
      <span class="fas fa-bars "></span>
    </div>
  </div>
  <!-- HeadLine Container Ends -->
  {% include "registration/welcome_menu.html" %}

  <div class="user-dashboard-container">
      <!-- User Navigation -->
      {% include "registration/user-nav.html" %}

      <!-- Single User Page -->
      <div class="user-detail-container">
          
          <!-- <div class="user-avatar-box">
              {% if user.profile.profile_picture.url is None %}
              <img src="{% static 'frontend/img/placeholder.jpg' %}" class="avatar" alt=""> 
              {% else %}
              <img src="{{ user.profile.profile_picture.url }}" class="avatar" alt=""> 
              {% endif %}
              <div class="wallet-section">
                  <p>Activity Earnings (in points) : 2000 pts </p>
                  <p>Referral Earnings (in points): 20pts </p>
                  <p>Wallet Balance (after conversion): &#8358;2,000 </p>
              </div>
          </div> -->
          
          <div class="user-details">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% if user_form.errors %}
                        {% for error in form.errors %} 
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}

                {% endif %}
                {% if profile_form.errors %}
                        {% for error in form.errors %} 
                            <p class="alert alert-danger">{{ error }}</p>
                        {% endfor %}

                {% endif %}
                
                
                    {{ form.user|attr:"hidden" }}
                    {{ form.media }}

                    <div class="form-group">
                    <label for="title">Title: </label>
                    {{ form.title|add_class:"form-control" }}
                  </div>
                  <div class="form-group">
                    <label for="description">Description: </label>
                    {{ form.description|add_class:"form-control" }}
                  </div>

                  <div class="form-group">
                    <video width="100%" height="315" controls><source src="{{ happeningnow.video.url }}" type="video/mp4">Your browser does not support the video tag.</video>
                  </div>

                  <div class="form-group">
                    <label for="video">Video: </label>

                    {{ form.video|add_class:"form-control" }}
                  </div>
                                   
                  
                  <div class="form-group">
                      <input type="submit" class="btn btn-dark" value="Save">
                  </div>

              </form>
          </div>
      </div>
  </div>
 
  {% endblock %}