 {% load static %}

 <!-- Footer -->
 <section class="footer-section">
    <div class="footer">
      <div class="footer-logo">
        <img src="{% static 'frontend/img/logo.png' %}" />
      </div>
    </div>
  
    <div class="social-icons">
      <ul class="social-share">
        <li class="share-wrap"><a href=""><i class="fab fa-facebook-f"></i></a></li>
        <li class="share-wrap"><a href=""><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>
  
    <div class="footer-menu">
      <ul class="footer-menu-container">
        <li class="footer-menu-item">
          <a href="{% url 'advertise' %}">Advertise</a>
        </li>
        <li class="footer-menu-item">
          <a href="{% url 'about' %}">About Us</a>
        </li>
        <li class="footer-menu-item">
          <a href="{% url 'contact' %}">Contact Us</a>
        </li>
        <li class="footer-menu-item">
          <a href="{% url 'privacy' %}">Privacy Policy</a>
        </li>
        <li class="footer-menu-item">
          <a href="{% url 'terms' %}">Terms</a>
        </li>
      </ul>
    </div>
  </section>
  <div class="copyright-container">
    <p>Copyright &copy; <a href="{% url 'home' %}">Community Network Media</a></p>
  </div>
  
  <script src="{% static 'frontend/js/app.js' %}"></script>
  <script src="{% static 'advertising/js/events.js' %}"></script>
  <script>
    $(document).ready(function() {
    $('#example').DataTable();
} );
  </script>
  </body>
  </html>